<!DOCTYPE html>
<html>
<head>
    <title>Just Stream It</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div class="top-bar">
		<ul class="menu-bar">
			<li>Acceuil</li>
			<li>Catégories</li>
			<li>Mes choix</li>
		</ul>
	</div>
    <div class="bestmovie">
        
    </div>
    <div class="category">
    	<h3>Films mieux notés</h3>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT66xCI0AL4rMP2udi9jLoXU114xOx28LW9S_htJPyO82_ap3Hh">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGnTgN17gEFzaWWf66wJvRgTosSG6xPfTzq1hbEqfJZQrjlFMO">
    	</th>
    </div>

    <div class="category">
    	<h3>Séries Dramatiques</h3>
    	<th class="container">
    		<img class="image-box" src="https://miro.medium.com/max/1000/1*dfjh4Op0LkXQ09fz6e-7SQ.jpeg">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3yHiDitGM4_7leUHfLxj9zf4FFts4awQOuDvlVPvtfgVAcjB">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTffeF-FFtJHWktnA6f4VVkB5ZCeLJY0adF8wQHCM-yihTvgzPc">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://fr.web.img4.acsta.net/pictures/15/11/10/13/35/055302.jpg">
    	</th>
    </div>
    <div class="category">
    	<h3>Séries comiques</h3>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvtC9eemY3y3TKXvkupIecZjCTteQW65ntB3zhUi1StR7brfDd">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://m.media-amazon.com/images/M/MV5BOWNjYTg5NGMtOWRjNy00ZGNlLTg2MmYtZjQ5NTM0MTQxOGM2XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://img.moviequotes.com/images/thumb_movie-emily-in-paris.233x330_q95_box-0,100,630,1036.jpg">
    	</th>
    </div>
    <div class="category">
    	<h3>Séries Historiques</h3>
    	<th class="container">
    		<img class="image-box" src="https://miro.medium.com/max/1000/1*dfjh4Op0LkXQ09fz6e-7SQ.jpeg">
    	</th>
    	<th class="container">
    		<img class="image-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3yHiDitGM4_7leUHfLxj9zf4FFts4awQOuDvlVPvtfgVAcjB">
    	</th>

    </div>
    <div class="category">

    </div>
</body>
</html>