<!DOCTYPE html>
<html>
<head>
    <title>Just Stream It</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="top-bar">
		<ul class="menu-bar">
			<li>Acceuil</li>
			<li>Catégories</li>
			<li>Mes choix</li>
		</ul>
	</div>
    <div class="bestmovie">
		<div class="movie-info">
			<p>Genre</p><br>
			<h3>Movie Name</h3><br>
			<h2>Lecture Button and Infos</h2><br>
		</div>
    </div>
	
	<div class="category">
		<h3>Les films les mieux notés</h3>
		<div class="section-wraper">
			<section id="section1">
				<a href="#section2">‹</a>

				<a href="#section2">›</a>
			</section>
			<section id="section2">
				<a href="#section1">‹</a>

				<a href="#section1">›</a>
			</section>
		</div>
	</div>

	<div class="category">
		<h3>Action</h3>
		<div class="section-wraper">
			<section>
	
			</section>
			<section>
	
			</section>
		</div>
	</div>

	<div class="category">
		<h3>Comédie</h3>
		<div class="section-wraper">
			<section>
	
			</section>
			<section>
	
			</section>
		</div>
	</div>

	<div class="category">
		<h3>Drame</h3>
		<div class="section-wraper">
			<section>
	
			</section>
			<section>
	
			</section>
		</div>
	</div>
</body>
</html>