<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Just Stream It</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="top-bar" id="top-bar">
		<ul class="menu-bar">
			<li>Acceuil</li>
			<li>Catégories</li>
			<li>Ma liste</li>
		</ul>
	</div>
	<div>
		<div class="bestmovie" id="bestmovie">
			<div class="movie-info" id="top-movie-info">
			</div>
		</div>
		
		<div class="category">
			<h3>Les films les mieux notés</h3>
			<div class="wrapper">
				<div class="wrapperbox box-top" id="highrate">
				</div>

				<a class="switchLeft sliderButton" onclick="sliderScrollLeft('.box-top')">‹</a>
				<a class="switchRight sliderButton" onclick="sliderScrollRight('.box-top')">›</a>
			</div>
		</div>

		<div class="category">
			<h3>Action</h3>
			<div class="wrapper">
				<div class="wrapperbox box-action" id="action">

				</div>

				<a class="switchLeft sliderButton" onclick="sliderScrollLeft('.box-action')">‹</a>
				<a class="switchRight sliderButton" onclick="sliderScrollRight('.box-action')">›</a>
			</div>
		</div>

		<div class="category">
			<h3>Comédie</h3>
			<div class="wrapper">
				<div class="wrapperbox box-comedy" id="comedy">

				</div>

				<a class="switchLeft sliderButton" onclick="sliderScrollLeft('.box-comedy')">‹</a>
				<a class="switchRight sliderButton" onclick="sliderScrollRight('.box-comedy')">›</a>
			</div>
		</div>

		<div class="category">
			<h3>Drame</h3>
			<div class="wrapper">
				<div class="wrapperbox box-drama" id="drama">
				</div>

				<a class="switchLeft sliderButton" onclick="sliderScrollLeft('.box-drama')">‹</a>
				<a class="switchRight sliderButton" onclick="sliderScrollRight('.box-drama')">›</a>
			</div>
		</div>
	</div>	

	<a href="#modal1"><button>Hello Button</button></button></a>
	
	<aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-modal="false" aria-labelledby="titlemodal">
		<div class="modal-wrapper">
			<h1 id="titlemodal">Vaarthakal Ithuvare</h1>
			<p>Genre: Comedy</p>
			<p>Date de sortie: 2019-11-22</p>
			<p>Rated: Not rated or unkown rating</p>
			<p>Score IMDB: 9.6</p>
			<p>Réalisateurs: Manoj Nair</p>
			<p>Acteurs: Abhirami Bhargavan, Alencier Ley Lopez, Aurora Adya, Indrans, Mammukoya, Nandu,
				Nedumudi Venu, P. Balachandran, Pauly Valsan, Saiju Kurup, Shivaji Guruvayoor, Siju Wilson,
				Sudheer Karamana, Sunil Sukhada, Vinay Forrt</p>
			<p>Durée: 121 min</p>
			<p>Pays: Inde</p>
			<p>Pays: Inde</p>
			<p>Box office: Pas connu</p>
			<img src="https://m.media-amazon.com/images/M/MV5BNjZhYWVhNjktNDRmNS00NGUyLThjZTgtYmU4NmQzYzIyZTk4XkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_UY268_CR0,0,182,268_AL_.jpg">
			<p> Descripton: Ittan Pillai, the police station head finds himself encapsulated in a case of theft which leads him and the others through a series of chained events throwing the case into a spiral.</p>
		</div>
	</aside>
	
	<script src="../static/js/fetch.js"></script>
</body>
</html>