<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test this fetch</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="container">
            <img src="https://photos.tf1.fr/780/780/perso-showpage-ddf428-819650-0@1x.png" class="flottant">
        </div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis vel velit rem ipsum temporibus ex pariatur dolores dolorum accusamus ipsam, molestias ab sequi eaque magnam laborum, iure cupiditate numquam mollitia accusantium asperiores eos? Quo aliquid explicabo, architecto, laudantium sed earum, accusamus deleniti ab atque tenetur dolore ipsa! Assumenda, dignissimos enim ea magni ratione impedit blanditiis excepturi quidem doloremque natus ullam at adipisci deserunt, porro veniam, architecto maxime iste? Maxime, reiciendis. Aspernatur animi consequatur maxime fuga harum repudiandae ex vel architecto incidunt veniam, iure sunt saepe voluptates quasi ipsum delectus nihil sequi recusandae assumenda itaque placeat unde. Corrupti unde similique excepturi!
        </p>
        <script>
            console.log("Let's start");
            fetch('http://127.0.0.1:8000/api/v1/titles/?format=json')
            .then(res => console.log(res.json()))
            function checkUrlExist(){
                console.log("Pass");
            }
            function getUrl(url){
                fetch(url).then(function(resp) {
                return resp.json();
                })
                .then(function(data) {
                    console.log(data['results']);
                });
            }
            checkUrlExist();
            getUrl('http://127.0.0.1:8000/api/v1/titles/?format=json');
        </script>
    </body>
</html>