<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test this fetch</title>
    </head>
    <body>
        <script>
            console.log("Let's start");
            fetch('http://127.0.0.1:8000/api/v1/titles/?format=json').then(function(resp) {
                return resp.json();
            })
            .then(function(data) {
                console.log(data['results']);
            });
        </script>
    </body>
</html>